Checks: 'bugprone-*,
         cert-*,
         cppcoreguidelines-*,
         clang-analyzer-*,
         modernize-*,
         performance-*,
         misc-const-correctness,
         misc-definitions-in-headers,
         misc-header-include-cycle,
         misc-include-cleaner,
         misc-misleading-bidirectional,
         misc-misleading-identifier,
         misc-misplaced-const,
         misc-new-delete-overloads,
         misc-no-recursion,
         misc-non-copyable-objects,
         misc-redundant-expression,
         misc-static-assert,
         misc-throw-by-value-catch-by-reference,
         misc-unconventional-assign-operator,
         misc-use-anonymous-namespace,
         misc-use-internal-linkage,
         portability-std-allocator-const,
         -modernize-use-trailing-return-type,
         -bugprone-easily-swappable-parameters,
         -cppcoreguidelines-no-malloc,
         -cppcoreguidelines-init-variables,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -cppcoreguidelines-pro-type-vararg,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic'