[submodule "pico-sdk"]
	path = vendor/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "lua"]
	path = vendor/lua
	url = git@github.com:yocto-8/lua.git
[submodule "libfixmath"]
	path = vendor/libfixmath
	url = git@github.com:yocto-8/libfixmath.git
[submodule "umm_malloc"]
	path = vendor/umm_malloc
	url = git@github.com:yocto-8/umm_malloc.git
[submodule "vendor/frozen"]
	path = vendor/frozen
	url = git@github.com:serge-sans-paille/frozen.git
